<footer id="footer">
    <div class="container">
        <p class="muted credit">Powered by <a href="https://github.com/michelwilhelm/MongoTask" target="_blank">MongoTask</a> © 2012-{{ year }}</p>
    </div>
</footer>

{{ load_js }}
</body>
</html>