 <form class="navbar-form pull-right" method="post" action="{{ url }}users/doLogin">
  <input class="span2" name="username" type="text" placeholder="E-mail" autocomplete="off"/>
  <input class="span2" name="password" type="password" placeholder="Senha" autocomplete="off"/>
  <button type="submit" class="btn">Entrar</button>
</form>