    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MongoTask</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ url }}">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projetos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Projeto 1</a></li>
                  <li><a href="#">Projeto 2</a></li>
                  <li><a href="#">Projeto 3</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Sub título</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            {% include u_tpl ~ '_userbar.twig' %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>